img {
  float: left;
  padding: 10px;
}
.sidebar {
  border: 2px solid black;
  margin: 20px;
  text-align: center;
  width: 100%;
  height: 220px;
  background-color: teal;
}
ul {
  list-style-type: none;
}
.column {
  padding: 10px;
  width: 30%;
  float: left;
}
